body{
    margin: 0;
    background-color: #EDEDED;
    margin-right:auto;
	margin-left: auto;
    text-align: center;
    box-shadow:0 0 10px 0 #ccc;
    font-family: Verdana, sans-serif;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

.sticky {
  position: fixed;
  top: 0;
}
main {
  margin-top: 50px;
}
.menu{
    border-radius: 0px 0px 25px 25px;
    background-color: white;
    width: 70vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-around;
}
.gol{
    display: flex;
    justify-content: center;
}

.m1{
	  padding-right:20px;
    padding-left:20px;
}
.collapsible {
    background-color: #EDEDED;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #EDEDED;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #EDEDED;
  }

  
