body{
    margin-right:auto;
	  margin-left: auto;
    text-align: center;
    font-family: Verdana, sans-serif;
}
.head{
  height: 70px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  box-shadow:0 0 10px 0 #ccc;
  padding-left: 0.5cm;
  padding-right: 1cm;
}
h1{
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  color:rgb(83, 0, 128);
}
h2{
  display: flex;
  align-items: center;
  color:rgb(132, 6, 199);
  padding-left: 0.5cm;
  width: max-content;
  /* box-shadow:0 0 10px 0 #ccc; */
  margin-top: -5px;
}
.h1{
  font-size:20px;
  color:rgb(83, 0, 128);
  font-family: serif;
  font-weight: bold;
}
.menu{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;  
}
.menu1{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    /* margin-top: 10px; */
}
.m1{
	  padding-right:20px;
    padding-left:20px;
    font-size:20px;
}
.menus{
  color:rgb(30, 42, 119);
}
img{
    width: 50px;
    height: 50px;
    object-fit: fill;
    border-radius:6px;
}
a{
  text-decoration:none;
  font-weight: bold;
}

.menu1:hover,.h1:hover,h2:hover {
  background-color:rgb(234, 225, 225);
  border-radius:8px;
  color: rgb(20, 19, 19);
}

.calculation{
  display: flex; 
  align-items:start;
  justify-content: space-around;
  padding-left: 0.5cm;
  color:rgb(83, 0, 128);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

legend{
  font-size: 20px;
}
label{
  align-items:start;
}


/*background-image: url(img/bac2.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 500px 600px;*/